// ---- ---- color ---- ---- //
$color_light: #ffffff;
$color_dark: #151515;
$color_accent: #0066ff;
$color_grey: #e8e8e8;

// ---- ---- main ---- ---- //
html,
body {
  height: 100%;
}
body {
  min-width: 300px;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: $color_dark;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.main {
  flex-grow: 1;
}

// ---- ---- title ---- ---- //
.title {
  &__h1 {
    font-size: 96px;
    font-weight: 700;
  }
  &__h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  &__h4 {
    font-size: 24px;
    font-weight: 700;
  }
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
}
// ---- ---- menu ---- ---- //
.menu {
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  &__link {
    font-weight: 700;
    color: $color_light;
    text-transform: uppercase;
    &--active {
      color: $color_accent;
    }
  }
}
// ---- ---- showmore ---- ---- //
.showmore-link {
  display: block;
  width: 100%;
  max-width: 223px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color_dark;
  color: $color_light;
  padding: 13px 20px;
  margin: 0 auto;
}
// ---- ---- header ---- ---- //
.header {
  background-color: $color_dark;
  &--main {
    background-color: transparent;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
// ---- ---- footer ---- ---- //
.footer {
  background-color: $color_dark;
  color: $color_light;
  padding-top: 50px;
  padding-bottom: 32px;
  text-align: center;
  &__menu {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 50px;
  }
  &__menu-list {
    max-width: 240px;
  }
  &__menu-item {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__menu-title {
    margin-bottom: 40px;
  }
  &__app-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
  }
  &__info-box {
    max-width: 806px;
    margin: 0 auto 30px;
  }
  &__info-text {
    font-size: 12px;
  }
  &__info-phone {
    text-decoration: underline;
  }
  &__policy-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
