// ---- ---- reset ---- ---- //
@import 'swiper-bundle.min.scss';
@import 'normalize.scss';
@import 'myreset.scss';
@import 'global.scss';

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// ---- ---- main ---- ---- //
.header--main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 15;
}
.top {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 200px;
  padding-bottom: 50px;
  color: $color_light;
  text-align: center;
  z-index: 10;
  &__title {
    margin-bottom: 38px;
  }
  &__btn {
    display: inline-block;
    width: 100%;
    max-width: 430px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 23px;
    background-color: $color_dark;
  }
}
// ---- ---- slider-swiper ---- ---- //
.slider {
  &__img {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.swiper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.3);
  z-index: 3;
}
.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: $color_dark;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: $color_light;
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 35px;
}
// ---- ---- section ---- ---- //
.why {
  padding-top: 150px;
  &__title-section {
    margin-bottom: 50px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  &__item {
    max-width: 270px;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__text {
    text-align: left;
  }
}
.how {
  padding-top: 150px;
  max-width: 620px;
  margin: 0 auto;
  &__title-section {
    margin-bottom: 50px;
  }
  &__text {
  }
  &__box {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  &__subtitle {
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__text-info {
    max-width: 270px;
  }
  &__img {
    display: inline-block;
    margin-left: 90px;
  }
}
.video {
  padding-top: 150px;
  text-align: center;
  &__title-section {
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 50px;
  }
}
.important {
  padding: 150px 0;
  &__title-section {
    margin-bottom: 20px;
  }
  &__text {
    max-width: 580px;
    margin: 0 auto 50px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  &__img {
    margin-bottom: 20px;
  }
}

// ---- ---- contacts.html ---- ---- //
// ---- ---- contacts ---- ---- //
.contacts {
  padding-top: 100px;
  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 50px;
  }
  &__form {
  }
}
// ---- ---- form ---- ---- //
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 580px;
  margin: 0 auto;
  &__input {
    display: inline-block;
    width: 270px;
    padding: 18px 20px;
    margin-bottom: 50px;
    border: 1px solid $color_accent;
    &::placeholder {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $color_dark;
      opacity: 0.5;
    }
  }
  &__textarea {
    display: inline-block;
    width: 100%;
    height: 290px;
    padding: 28px 20px;
    margin-bottom: 50px;
    border: 1px solid $color_accent;
    resize: none;
    &::placeholder {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $color_dark;
      opacity: 0.5;
    }
  }
  &__btn {
    width: 100%;
    max-width: 185px;
    text-transform: uppercase;
    background-color: $color_dark;
    color: $color_light;
    padding: 13px 20px;
    margin: 0 auto;
  }
}

// ---- ---- media ---- ---- //
@import 'media.scss';
